<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninebox.nineboxapp"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Grid 9"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <!--android:theme="@style/AppTheme"-->

        <!--android:theme="@style/Theme.Sample">-->
        <activity
            android:name="nineBoxMain.MainActivity"
            android:label="@string/appname"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nineBoxCandidates.CandidatesListActivity"
            android:label="@string/title_activity_candidates_entry"
            android:parentActivityName="nineBoxMain.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nineBoxMain.MainActivity" />
        </activity>
        <activity
            android:name="nineBoxCandidates.CandidatesEntryActivity"
            android:label="@string/title_activity_candidates_entry"
            android:parentActivityName="nineBoxMain.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nineBoxMain.MainActivity" />
        </activity>
        <activity
            android:name="nineBoxEvaluation.Evaluation"
            android:label="@string/title_activity_evaluation"
            android:parentActivityName="nineBoxMain.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nineBoxMain.MainActivity" />
        </activity>
        <activity
            android:name="nineBoxReport.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName="nineBoxMain.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nineBoxMain.MainActivity" />
        </activity>
        <activity
            android:name="nineBoxQuestions.QuestionsEntryActivity"
            android:label="@string/title_activity_questions_entry"
            android:parentActivityName="nineBoxMain.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nineBoxMain.MainActivity" />
        </activity>
    </application>

</manifest>
